



.pBar{
    background-Color: lightgrey;
    height: 3px;
    position: relative;  
}

.PbarDiv{
    height: 100%;
    position: absolute;
    
}

button{
    background: linear-gradient(to right, #565bd0, #cb5fc6);
    padding: 10px;

}

  .formInput{
    border: 1px solid #fff;
    background-color: #F0F8FFe9;
}
.digitINput{
    background-color: #F0F8FF;
}
